[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
email-validator = "*"
flask-migrate = "*"
flask-login = "*"
alembic = "*"
python-dateutil = "*"
psycopg2-binary = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.9"
