<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>81 Sample Box</title>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" href="../styles/plate.css">
</head>
<body>
  <div class="box">
    <div class="box__row box__row-a">
      <div class="box__pos box__row-a__pos-1 box__col-1"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-2 box__col-2"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-3 box__col-3"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-4 box__col-4"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-5 box__col-5"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-6 box__col-6"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-7 box__col-7"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-8 box__col-8"><div class="outer a"><div class="inner"></div></div></div>
      <div class="box__pos box__row-a__pos-9 box__col-9"><div class="outer a"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-b">
      <div class="box__pos box__row-b__pos-1 box__col-1"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-2 box__col-2"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-3 box__col-3"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-4 box__col-4"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-5 box__col-5"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-6 box__col-6"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-7 box__col-7"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-8 box__col-8"><div class="outer b"><div class="inner"></div></div></div>
      <div class="box__pos box__row-b__pos-9 box__col-9"><div class="outer b"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-c">
      <div class="box__pos box__row-c__pos-1 box__col-1"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-2 box__col-2"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-3 box__col-3"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-4 box__col-4"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-5 box__col-5"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-6 box__col-6"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-7 box__col-7"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-8 box__col-8"><div class="outer c"><div class="inner"></div></div></div>
      <div class="box__pos box__row-c__pos-9 box__col-9"><div class="outer c"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-d">
      <div class="box__pos box__row-d__pos-1 box__col-1"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-2 box__col-2"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-3 box__col-3"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-4 box__col-4"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-5 box__col-5"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-6 box__col-6"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-7 box__col-7"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-8 box__col-8"><div class="outer d"><div class="inner"></div></div></div>
      <div class="box__pos box__row-d__pos-9 box__col-9"><div class="outer d"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-e">
      <div class="box__pos box__row-e__pos-1 box__col-1"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-2 box__col-2"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-3 box__col-3"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-4 box__col-4"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-5 box__col-5"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-6 box__col-6"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-7 box__col-7"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-8 box__col-8"><div class="outer e"><div class="inner"></div></div></div>
      <div class="box__pos box__row-e__pos-9 box__col-9"><div class="outer e"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-f">
      <div class="box__pos box__row-f__pos-1 box__col-1"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-2 box__col-2"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-3 box__col-3"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-4 box__col-4"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-5 box__col-5"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-6 box__col-6"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-7 box__col-7"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-8 box__col-8"><div class="outer f"><div class="inner"></div></div></div>
      <div class="box__pos box__row-f__pos-9 box__col-9"><div class="outer f"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-g">
      <div class="box__pos box__row-g__pos-1 box__col-1"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-2 box__col-2"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-3 box__col-3"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-4 box__col-4"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-5 box__col-5"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-6 box__col-6"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-7 box__col-7"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-8 box__col-8"><div class="outer g"><div class="inner"></div></div></div>
      <div class="box__pos box__row-g__pos-9 box__col-9"><div class="outer g"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-h">
      <div class="box__pos box__row-h__pos-1 box__col-1"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-2 box__col-2"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-3 box__col-3"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-4 box__col-4"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-5 box__col-5"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-6 box__col-6"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-7 box__col-7"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-8 box__col-8"><div class="outer h"><div class="inner"></div></div></div>
      <div class="box__pos box__row-h__pos-9 box__col-9"><div class="outer h"><div class="inner"></div></div></div>
    </div>
    <div class="box__row box__row-i">
      <div class="box__pos box__row-i__pos-1 box__col-1"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-2 box__col-2"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-3 box__col-3"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-4 box__col-4"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-5 box__col-5"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-6 box__col-6"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-7 box__col-7"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-8 box__col-8"><div class="outer i"><div class="inner"></div></div></div>
      <div class="box__pos box__row-i__pos-9 box__col-9"><div class="outer i"><div class="inner"></div></div></div>
    </div>
  </div>
</body>
</html>