<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retain Plate</title>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" href="./styles/plate.css">
</head>
<body>
  <div class="plate">
    <div class="plate__row plate__row-a">
      <div class="plate__well plate__row-a__well-1 plate__col-1"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-2 plate__col-2"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-3 plate__col-3"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-4 plate__col-4"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-5 plate__col-5"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-6 plate__col-6"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-7 plate__col-7"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-8 plate__col-8"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-9 plate__col-9"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-10 plate__col-10"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-11 plate__col-11"><div class="outer a"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-a__well-12 plate__col-12"><div class="outer a"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-b">
      <div class="plate__well plate__row-b__well-1 plate__col-1"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-2 plate__col-2"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-3 plate__col-3"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-4 plate__col-4"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-5 plate__col-5"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-6 plate__col-6"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-7 plate__col-7"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-8 plate__col-8"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-9 plate__col-9"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-10 plate__col-10"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-11 plate__col-11"><div class="outer b"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-b__well-12 plate__col-12"><div class="outer b"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-c">
      <div class="plate__well plate__row-c__well-1 plate__col-1"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-2 plate__col-2"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-3 plate__col-3"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-4 plate__col-4"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-5 plate__col-5"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-6 plate__col-6"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-7 plate__col-7"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-8 plate__col-8"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-9 plate__col-9"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-10 plate__col-10"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-11 plate__col-11"><div class="outer c"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-c__well-12 plate__col-12"><div class="outer c"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-d">
      <div class="plate__well plate__row-d__well-1 plate__col-1"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-2 plate__col-2"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-3 plate__col-3"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-4 plate__col-4"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-5 plate__col-5"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-6 plate__col-6"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-7 plate__col-7"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-8 plate__col-8"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-9 plate__col-9"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-10 plate__col-10"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-11 plate__col-11"><div class="outer d"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-d__well-12 plate__col-12"><div class="outer d"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-e">
      <div class="plate__well plate__row-e__well-1 plate__col-1"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-2 plate__col-2"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-3 plate__col-3"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-4 plate__col-4"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-5 plate__col-5"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-6 plate__col-6"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-7 plate__col-7"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-8 plate__col-8"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-9 plate__col-9"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-10 plate__col-10"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-11 plate__col-11"><div class="outer e"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-e__well-12 plate__col-12"><div class="outer e"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-f">
      <div class="plate__well plate__row-f__well-1 plate__col-1"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-2 plate__col-2"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-3 plate__col-3"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-4 plate__col-4"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-5 plate__col-5"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-6 plate__col-6"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-7 plate__col-7"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-8 plate__col-8"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-9 plate__col-9"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-10 plate__col-10"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-11 plate__col-11"><div class="outer f"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-f__well-12 plate__col-12"><div class="outer f"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-g">
      <div class="plate__well plate__row-g__well-1 plate__col-1"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-2 plate__col-2"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-3 plate__col-3"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-4 plate__col-4"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-5 plate__col-5"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-6 plate__col-6"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-7 plate__col-7"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-8 plate__col-8"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-9 plate__col-9"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-10 plate__col-10"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-11 plate__col-11"><div class="outer g"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-g__well-12 plate__col-12"><div class="outer g"><div class="inner"></div></div></div>
    </div>
    <div class="plate__row plate__row-h">
      <div class="plate__well plate__row-h__well-1 plate__col-1"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-2 plate__col-2"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-3 plate__col-3"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-4 plate__col-4"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-5 plate__col-5"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-6 plate__col-6"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-7 plate__col-7"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-8 plate__col-8"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-9 plate__col-9"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-10 plate__col-10"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-11 plate__col-11"><div class="outer h"><div class="inner"></div></div></div>
      <div class="plate__well plate__row-h__well-12 plate__col-12"><div class="outer h"><div class="inner"></div></div></div>
    </div>
  </div>
</body>
</html>
