<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freezer</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <link rel="stylesheet" href="../styles/freezer.css">
</head>
<body>
    <div class="freezer">
        <div class="display-housing">
            <div class="display-housing__first first"></div>
            <div class="display-housing__second second">
                <div class="display">
                    <span class="display__id__text">ID:</span>
                    <span class="display__id__number">476</span>
                </div>
            </div>
            <div class="display-housing__third third"></div>
        </div>
        <div class="door">
            <div class="door__first first">
                <div class="handle__upper handle"></div>
                <div class="handle__lower handle"></div>
            </div>
            <div class="door__second second"></div>
            <div class="door__third third"></div>
        </div>
        <div class="feet">
            <div class="foot foot__left"></div>
            <div class="foot foot__right"></div>
        </div>
    </div>
</body>
</html>