<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freezer Rack</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <link rel="stylesheet" href="../styles/rack.css">
</head>
<body>
    <div class="rack">
        <div class="rack__top-handles">
            <div class="handle handle__top handle__1"></div>
            <div class="handle handle__top handle__2"></div>
            <div class="handle handle__top handle__3"></div>
            <div class="handle handle__top handle__4"></div>
            <div class="handle handle__top handle__5"></div>
        </div>
        <div class="rack__main">
            <div class="handle handle__left"></div>
            <div class="column column__1">
                <div class="item empty"></div>
                <div class="item empty"></div>
                <div class="item empty"></div>
                <div class="item empty"></div>
                <div class="item empty"></div>
            </div>
            <div class="column column__2"></div>
            <div class="column column__3"></div>
            <div class="column column__4"></div>
            <div class="column column__5"></div>
            <div class="handle handle__right"></div>
        </div>
    </div>
</body>
</html>