/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
    }
}

tr, col {
  transition: all 0.3s;
}

table {
    border-collapse: collapse;
    border: 1px solid #26143a;
}

td {
    margin: 0.125rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.plate__header {
    background-color: #a487c6;
}

.plate__well {
    display: table-cell;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    text-align: right;
    padding: 0px;
}

.plate__well__link {
    display: flex;
    border-radius: inherit;
    justify-content: center;
}

.plate__well__inner {
    display: block;
    background-color: transparent;
    border-radius: inherit;
    border: none;
    height: 3.5rem;
    width: 3.5rem;
}

.plate__well-filled {
    background-color: #e4c671;
}

.plate__well-empty {
    background-color: #fff2cc;
}

.plate__well__inner:hover {
    background-color: #987920;
    color: white;
}

.plate__well-active, .plate__well__inner-active {
    background-color: #987920;
}

a {
    text-decoration: none;
}
