.navbar__form {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    color: #26143a;
}

.form__header {
    margin-top: 0;
    margin-bottom: 1rem;
}

.property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.property__label {
    font-weight: 600;
}

.property__field {
    margin-left: 0.5rem;
    font-size: 1rem;
    height: 1.5rem;
}

.property__field-small {
    width: 35%;
}

.property-hidden {
    display: none;
}

.sidebar__button {
    border: 1px solid #26143a;
    background-color: #fff2cc;
    box-sizing: content-box;
    border-radius: 5%;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 100ms ease;
    position: relative;
}

.sidebar__button:hover {
    background-color: #ffe8a6;
    top: -0.10rem;
}
