.navbar__form {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    color: #26143a;
}

.navbar__field-hidden {
    /* CHANGE WHEN GETTING TO IT */
    display: none;
}

.property {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.property__label {
    font-weight: 600;
}

.property__field {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.sidebar__button {
    border: 1px solid #26143a;
    background-color: #fff2cc;
    box-sizing: content-box;
    border-radius: 10%;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem;
    margin: 0.5rem;
    transition: all 100ms ease;
    position: relative;
}

.sidebar__button:hover {
    background-color: #ffe8a6;
    top: -0.10rem;
}
