.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid black;
}

.navbar__upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__lower {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.select-box {
    font-size: 16px;
    padding: 0.55rem 1rem;
}

.navbar__upper__logo {
    justify-content: center;
    align-items: center;
}

.navbar__upper__links {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo {
    height: 50px;
    padding: 0.25rem;
}

.link {
    margin-right: 30px;
}

.link-selected {
    color: red;
    font-weight: 900;
}

.submit {
    border-radius: 50%;
    height: 2.25rem;
}