@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid black;
}

.navbar__upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__lower {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.select-box {
    font-size: 16px;
    padding: 0.55rem 1rem;
}

.navbar__upper__logo {
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}

.navbar__upper__links {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    height: 4.5rem;
    margin: 0.25rem;
}

.link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: unset;
    text-align: center;
    font-size: 1.5rem;
}

.link-selected {
    font-weight: 900;
}

.link__container {
    display: flex;
    flex-direction: column;
    height: 3.375rem;
    width: 7rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10%;
    justify-content: center;
    background-color: #d7d7e3;
    margin: 0.75rem;
}

.link__container-selected {
    background-color: white;
}

.submit {
    border-radius: 50%;
    height: 2.25rem;
}