.sidebar {
    display: flex;
    background-color: #f4f4f7;
    border-right: 2px solid #9e9ebd;
    width: 25%;
    height: 100%;
    min-width: 25%;
    transition: 500ms;
    min-height: 70.5vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.sidebar-hidden {
    /* left: -90%; */
}