.sidebar {
    background-color: #f4f4f7;
    border-right: 2px solid #9e9ebd;
    width: 25%;
    min-width: 25%;
    transition: 500ms;
    height: 100%;
    /* position: fixed; */
    /* left: 0 */
}

.sidebar-hidden {
    /* left: -90%; */
}