* {
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

title {
    visibility: hidden;
}

.rack {
    background-color: #AFACA4;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    padding: 0.5rem;
    padding-top: 0rem;
}

.rack__main, .rack__top-handles {
    flex-direction: row;
}

.rack__top-handles {
    justify-content: space-around;
    align-items: center;
    width: 25rem;
}

.column {
    background-color: honeydew;
    height: 15rem;
    width: 5rem;
    border: 0.25rem solid #AFACA4;
}

.handle {
    background-color: #AFACA4;
    position: relative;
}

.handle__top {
    height: 0.5rem;
    width: 2rem;
    top: -0.5rem;
}

.handle__left, .handle__right {
    height: 2rem;
    width: 0.5rem;
}

.handle__left {
    left: -1rem;
}

.handle__right {
    right: -1rem;
}

.item {
    background-color: #C3C3C5;
    width: 4.5rem;
    height: 3rem;
    border: 1px solid #AFACA4;
}

.item:hover {
    background-color: green;
}