.form__authorization {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.form__header {
    margin-top: 0;
    margin-bottom: 1rem;
}

.property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.property__label {
    font-weight: 600;
}

.property__field {
    font-size: 1rem;
    height: 1.5rem;
    width: 100%;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: stretch;
}

.form__button {
    border: 1px solid #26143a;
    background-color: #fff2cc;
    box-sizing: content-box;
    border-radius: 5%;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 100ms ease;
    position: relative;
}

.form__button:hover {
    background-color: #ffe8a6;
    top: -0.10rem;
}

.form__additional {
    font-size: 0.85rem;
    margin: 0.45rem;
}