@import "main.css" screen;

.plate {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: lightblue;
    width: fit-content;
    border: 1px solid black;
    overflow: hidden;
}

.plate__well {
    border: 1px solid black;
    margin: 0.20rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    z-index: 1;
}

.plate__well:hover {
    background-color: green;
}